<svg id='editorSvg' class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <svg:rect *ngFor="let d of blocks"
            [attr.fill]="d.color"
            [attr.height]="squareSize"
            [attr.width]="squareSize"
            [attr.x]="d.x * squareSize"
            [attr.y]="d.y * squareSize"
  />

  <svg:g car-svg [x]="d.coordinates.horizontal * squareSize"
         [y]="d.coordinates.vertical * squareSize"
         *ngFor="let d of drivers"/>

  <svg:rect [attr.x]="c.customerDepartureCoordinates.horizontal * squareSize"
            [attr.y]="c.customerDepartureCoordinates.vertical * squareSize"
            width="10"
            height="10"
            rx="10"
            style="fill:rgb(0,0,255);stroke-width:3;stroke:rgb(0,0,0)"
            *ngFor="let c of customer"/>
</svg>
